.App {

  
}


.App {

text-align: center;
}


.header-container {
  display: flex;
  justify-content: space-between;
}

.header-container h1 {
  margin-left: 530px;
}

.connect-wallet {
 
  color: white;
  margin: 10px;
  width: 200px;
  height:50px;
  border-radius: 12px;
  border: none;
  font-size: medium;
  cursor: pointer;
  background-color: black;

}

.connect-wallet:hover {

  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
}

.buy-ticket-container {
  display: flex;
  justify-content: space-between;

  flex-direction: row;

}
.right-side-container {

  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 100px;
 
}

.series-container { 
  margin: 12px;

}
.series-container label {
  margin: 12px
}

.number-container {

  margin: 12px;
}

.buy-tickets-container {
  display: flex;
  flex-direction: column;
}


.random-button-container label {

  margin: 5px;
}
.random-button-container button {

  width: 120px;
  height: 35px;
  background-color: rgb(5, 7, 7);
  border: none;
  color: white;
  border-radius: 5px;
  margin: 22px;

}


.main-page{
  display: flex;
  flex-direction: row;
}

.buy-ticket-container p {

  width: 300px;
  height: 400px;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 50px; 
  padding: 30px;
  padding-top: 80px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.what-container {
  width: 300px;
  height: 400px;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 50px; 
  padding: 30px;
  padding-top: 80px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-side-container {
width: 300px;
  height: 400px;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 50px; 
  padding: 30px;
  padding-top: 80px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}