*{ 
  margin:0;
  padding:0;
}

.how_heading{
  margin-bottom: 15px;
}

.App {
  position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: black;
    z-index: 10;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.header-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.logo-header{
  display: flex; 
  justify-content: center;
  /* text-align: center;  */
  margin-bottom: 15px;
}

.logo-text{
  margin:0 auto;
  display: flex; 
  flex-direction: column;
  color: white;
}

.header-container h1 {
  color: aliceblue;
  margin-right: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.header-container h2 {
  color: #800080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px;
}

.logo-logo{
  display: flex;
}



.connect-wallet {
  color: black;
  margin: 10px;
  width: 200px;
  height:50px;
  border-radius: 12px;
  border: none;
  font-size: medium;
  cursor: pointer;
  background-color: white;

}

.connect-wallet:hover {

  background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
}

.buy-ticket-container {
  display: flex;
  justify-content: space-between;

  flex-direction: row;

}
.right-side-container {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  margin: 100px;
 
}

.series-container { 
  margin: 0px 0px 0px ;

}
.series-container label {
  margin: 0px 0px 0px ;
}

.number-container {
  margin: 0px 0px 0px ;
}

.buy-tickets-container {
  display: flex;
  flex-direction: column;
  margin: 3px 0px 0px ;
}


.random-button-container label {
  margin: 0px 0px 0px ;
}
.random-button-container button {

  width: 120px;
  height: 35px;
  background-color: rgb(5, 7, 7);
  border: none;
  color: white;
  border-radius: 5px;
  margin: 3px 0px 0px ;

}


.main-page{
  display: flex;
  flex-direction: row;
}

.buy-ticket-container p {

  width: 300px;
  height: 300px;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 50px; 
  padding: 30px;
  padding-top: 80px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.what-container {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 50px; 
  padding: 30px;
  padding-top: 80px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-side-container {
  width: 300px;
  height: 300px;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 50px; 
  padding: 30px;
  padding-top: 80px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.ppt-link{
  text-align: center;
  
}

li {
  margin-bottom: 10px;
}
